<section class="page-hero page-hero--work-inner">
  <div class="container">
    <ul class="list-reset breadcrumbs page-hero__breadcrumbs">
      <li class="breadcrumbs__item">
        <a href="#" class="breadcrumbs__link">Homepage</a>
      </li>
      <li class="breadcrumbs__item">
        <a href="#" class="breadcrumbs__link">Work</a>
      </li>
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link">Modern Cottage</a>
      </li>
    </ul>
    <h1 class="page-hero__title page-hero__title--small page-hero__title--mb">
      Modern Cottage
    </h1>
    <div class="work-images">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img
            src="../../img/work-inner/work-images-1.jpg"
            alt="work-images-1"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="../../img/work-inner/work-images-1.jpg"
            alt="work-images-2"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="../../img/work-inner/work-images-1.jpg"
            alt="work-images-3"
          />
        </div>
      </div>
    </div>
  </div>
</section>
