<section class="partners partners--about">
  <div class="container">
    <h2 class="title title--center partners__title">Our partners</h2>
    <p class="descr descr--center">
      We&nbsp;are supported by&nbsp;12+&nbsp;industry bodies and media partners
    </p>
    <ul class="list-reset partners__list">
      <li class="partners__items">
        <a href="#" class="partners__link"
          ><img
            src="../../img/homepage/partners/partners-1.png"
            alt="partners-1"
            class="partners__logo"
        /></a>
      </li>
      <li class="partners__items">
        <a href="#" class="partners__link"
          ><img
            src="../../img/homepage/partners/partners-2.png"
            alt="partners-2"
            class="partners__logo"
        /></a>
      </li>
      <li class="partners__items">
        <a href="#" class="partners__link"
          ><img
            src="../../img/homepage/partners/partners-3.png"
            alt="partners-3"
            class="partners__logo"
        /></a>
      </li>
      <li class="partners__items">
        <a href="#" class="partners__link"
          ><img
            src="../../img/homepage/partners/partners-4.png"
            alt="partners-4"
            class="partners__logo"
        /></a>
      </li>
      <li class="partners__items">
        <a href="#" class="partners__link"
          ><img
            src="../../img/homepage/partners/partners-5.png"
            alt="partners-5"
            class="partners__logo"
        /></a>
      </li>
      <li class="partners__items">
        <a href="#" class="partners__link"
          ><img
            src="../../img/homepage/partners/partners-6.png"
            alt="partners-6"
            class="partners__logo"
        /></a>
      </li>
      <li class="partners__items">
        <a href="#" class="partners__link"
          ><img
            src="../../img/homepage/partners/partners-7.png"
            alt="partners-7"
            class="partners__logo"
        /></a>
      </li>
      <li class="partners__items">
        <a href="#" class="partners__link"
          ><img
            src="../../img/homepage/partners/partners-8.png"
            alt="partners-8"
            class="partners__logo"
        /></a>
      </li>
      <li class="partners__items">
        <a href="#" class="partners__link"
          ><img
            src="../../img/homepage/partners/partners-9.png"
            alt="partners-9"
            class="partners__logo"
        /></a>
      </li>
      <li class="partners__items">
        <a href="#" class="partners__link"
          ><img
            src="../../img/homepage/partners/partners-10.png"
            alt="partners-10"
            class="partners__logo"
        /></a>
      </li>
      <li class="partners__items">
        <a href="#" class="partners__link"
          ><img
            src="../../img/homepage/partners/partners-11.png"
            alt="partners-11"
            class="partners__logo"
        /></a>
      </li>
      <li class="partners__items">
        <a href="#" class="partners__link"
          ><img
            src="../../img/homepage/partners/partners-12.png"
            alt="partners-12"
            class="partners__logo"
        /></a>
      </li>
    </ul>
  </div>
</section>
