<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="# 111111" />
    <title>Createx</title>
  </head>
  <body>
    <!-- Header -->
    <%= require('html-loader!./partials/header-1.html').default %>
    <main>
      <!--Hero-about-->
      <%= require('html-loader!./partials/about/hero-about.html').default %>
      <!--achieve-->
      <%= require('html-loader!./partials/about/achieve.html').default %>
      <!--about-mission-->
      <%= require('html-loader!./partials/about/about-mission.html').default %>
      <!--Services-benefits-->
      <%= require('html-loader!./partials/about/history.html').default %>
      <!--Related-projects-->
      <%=
      require('html-loader!./partials/services-inner/05_related-projects.html').default
      %>
      <!--Pricing-->
      <%=
      require('html-loader!./partials/services-inner/06_pricing.html').default
      %>
      <!--Partners-->
      <%= require('html-loader!./partials/homepage/07_partners.html').default %>
      <!--Contacts-section-->
      <%=
      require('html-loader!./partials/homepage/11_contacts-section.html').default
      %>
    </main>
    <!--Footer-->
    <%= require('html-loader!./partials/footer.html').default %>
  </body>
</html>
