<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="# 111111" />
    <title>Createx</title>
  </head>
  <body>
    <!-- Header -->
    <%= require('html-loader!./partials/header-1.html').default %>
    <main>
      <!--Hero-contacts-->
      <%= require('html-loader!./partials/contacts/hero-contacts.html').default
      %>
      <!--contacts-form-->
      <%= require('html-loader!./partials/contacts/contacts-form.html').default
      %>
      <!--contacts-info-->
      <%= require('html-loader!./partials/contacts/contacts-info.html').default
      %>
    </main>
    <!--Footer-->
    <%= require('html-loader!./partials/footer.html').default %>
  </body>
</html>
