<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="# 111111" />
    <title>Createx</title>
  </head>
  <body>
    <!--Header-->
    <%= require('html-loader!./partials/homepage/01_header.html').default %>
    <!--Hero-->
    <%= require('html-loader!./partials/homepage/02_hero.html').default %>
    <!--About-->
    <%= require('html-loader!./partials/homepage/03_about-section.html').default
    %>
    <!--Mission-->
    <%= require('html-loader!./partials/homepage/04_mission.html').default %>
    <!--Services-->
    <%=
    require('html-loader!./partials/homepage/05_services-section.html').default
    %>
    <!--Portfolio-->
    <%=
    require('html-loader!./partials/homepage/06_portfolio-section.html').default
    %>
    <!--Partners-->
    <%= require('html-loader!./partials/homepage/07_partners.html').default %>
    <!--Testimonials-->
    <%= require('html-loader!./partials/homepage/08_testimonials.html').default
    %>
    <!--Facts-->
    <%= require('html-loader!./partials/homepage/09_facts.html').default %>
    <!--Recent-news-->
    <%= require('html-loader!./partials/homepage/10_recent-news.html').default
    %>
    <!--Contacts-section-->
    <%=
    require('html-loader!./partials/homepage/11_contacts-section.html').default
    %>
  </body>
</html>
